<div class="container">
    <div class="pull-right backtolist">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-9 page-content col-thin-right">
            <div class="inner inner-box ads-details-wrapper">
                <h2> {{vm.gift.Name}}</h2>
                <span class="info-row"> 
                    <span class="date">
                        <i class=" icon-clock"> </i> Today 1:21 pm </span> -
                <span class="category">{{vm.gift.Category}} </span>
                </span>

                <div class="ads-image ads-img-v2">
                    <div class="ads-image">
                        <div style="height: 505px">
                            <uib-carousel active="vm.activeImage" interval="vm.sliderInterval" no-wrap="noWrapSlides">
                                <uib-slide ng-repeat="slide in vm.gift.images track by slide.id" index="slide.id">
                                    <img class="img-responsive center-block" style="max-height: 500px" ng-src="{{'../' + slide.path }}" alt="img1"  style="margin:auto;">
                                    <div class="carousel-caption">
                                        <p>{{slide.jojojo}}</p>
                                    </div>
                                </uib-slide>
                            </uib-carousel>
                        </div>
                        <!--<h1 class="pricetag"> Free</h1>
                        <ul class="bxslider">
                            <li><img ng-attr-src="{{'../' + vm.gift.Image1Path }}" alt="img1" /></li>
                            <li><img ng-attr-src="{{'../' + vm.gift.Image2Path }}" alt="img2" /></li>
                            <li><img ng-attr-src="{{'../' + vm.gift.Image3Path }}" alt="img3" alt="img" /></li>
                        </ul>
                        <div id="bx-pager">
                            <a class="thumb-item-link" data-slide-index="0" href=""><img ng-attr-src="{{'../' + vm.gift.Image1Path }}" alt="img1" /></a>
                            <a class="thumb-item-link" data-slide-index="1" href=""><img ng-attr-src="{{'../' + vm.gift.Image2Path }}" alt="img2" /></a>
                            <a class="thumb-item-link" data-slide-index="2" href=""><img ng-attr-src="{{'../' + vm.gift.Image3Path }}" alt="img3" /></a>
                        </div>-->
                    </div>
                </div>


                <div class="Ads-Details">
                    <h5 class="list-title"><strong>Gift Details</strong></h5>

                    <div class="row">
                        <div class="ads-details-info col-md-8">
                            <p> {{vm.gift.Description}} </p>
                            <ul class="list-circle">
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <aside class="panel panel-body panel-details">
                                <ul>
                                    <li>
                                        <p class=" no-margin "><strong>Category:</strong> {{vm.gift.Category}}</p>
                                    </li>
                                </ul>
                            </aside>
                            <div class="ads-action">
                                <ul class="list-border">
                                    <li>
                                        <a href="#"> <i class=" fa fa-user"></i> More gifts by User </a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal"> <i class="fa icon-info-circled-alt"></i> Report abuse </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="content-footer text-left">
                        <btn ng-disabled="vm.offerMade || vm.haveAcceptedOffer" ng-attr-title="{{vm.title ? vm.title : ''}}" ng-show="!vm.isMyGift"
                            class="btn btn-success" data-toggle="modal" href="#makeOffer">
                            <i class=""></i> Make Offer
                        </btn>
                        <span ng-show="vm.offerMade || vm.haveAcceptedOffer">{{vm.title}}</span>
                    </div>
                </div>
            </div>
            <!--/.ads-details-wrapper-->

            <div class="modal fade" id="makeOffer" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                            <h4 class="modal-title"><i class=" icon-mail-2"></i> Make offer for: {{vm.gift.Name}} </h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="comment" class="control-label">Comment:</label>

                                    <textarea ng-model="vm.offer.comment" ng-required="true" class="form-control" id="comment" name="comment">
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="owner" class="control-label">Gift Owner</label>
                                    <input ng-model="vm.owner.FullName" ng-disabled="true" id="owner" type="text" data-placement="top" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="offerer" class="control-label">Offerer</label>
                                    <input ng-model="vm.currentUser.fullName" ng-disabled="true" id="offerer" type="text" data-placement="top" class="form-control">
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button ng-click="vm.makeOffer(vm.offer);" type="button" class="btn btn-success pull-right" data-dismiss="modal"> Confirm
                                    </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner inner-box ads-details-wrapper" style="padding: 0;">
                <div class="col-sm-12 page-content" style="padding: 0;">
                    <div class="inner-box">
                        <h2 class="title-2"><i class=""></i> Current Offers </h2>

                        <div style="clear:both"></div>

                        <div ng-show="vm.currentOffers.length > 0" class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><span> Offerer</span></th>
                                        <th>Comment</th>
                                        <th> Created</th>
                                        <th ng-show="vm.isMyGift"> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="offer in vm.currentOffers" ng-class="offer.accepted != 0 ? 'accepted-offer' : ''">
                                        <td>{{offer.offerer}}</td>
                                        <td>{{offer.comment}}</td>

                                        <td>{{offer.created}}</td>
                                        <td ng-show="vm.isMyGift">
                                            <span ng-hide="offer.accepted == '1'" ng-click="vm.acceptOffer(offer);" class="label label-success" style="cursor: pointer">Accept</span>
                                            <span ng-show="offer.accepted == '1'" class="label label-success">Accepted</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div style="clear:both"></div>

                    </div>
                </div>
            </div>
        </div>
        <!--/.page-content-->

        <div class="col-sm-3  page-sidebar-right">
            <aside>
                <div class="panel sidebar-panel panel-contact-seller">
                    <div class="panel-heading">Contact Owner</div>
                    <div class="panel-content user-info">
                        <div class="panel-body text-center">
                            <div class="seller-info">
                                <h3 class="no-margin">{{vm.owner.FullName}}</h3>

                                <p>Address: <strong>{{vm.owner.Address}}</strong></p>

                                <p>Phone: <strong>{{vm.owner.Phone}}</strong></p>
                            </div>
                            <div class="user-ads-action">
                                <a ng-show="!vm.isMyGift" href="#" data-toggle="modal" class="btn btn-success btn-block">
                                    <i class=" icon-mail-2">
                                        </i> Send message
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel sidebar-panel">
                    <div class="panel-heading">Tips for Offerers</div>
                    <div class="panel-content">
                        <div class="panel-body text-left">
                            <ul class="list-check">
                                <li> Contact donator to get more info</li>
                                <li> Check the item before you make an offer</li>
                            </ul>
                            <p><a class="pull-right" href=""> Know more <i
                                            class="fa fa-angle-double-right"></i> </a></p>
                        </div>
                    </div>
                </div>
                <!--/.categories-list-->
            </aside>
        </div>
        <!--/.page-side-bar-->
    </div>
</div>