<div class="container">
    <div class="row">
        <div class="col-md-10 page-content">
            <div class="inner-box category-content">
                <h2 ng-show="!vm.gift.id" class="title-2 uppercase"><strong> <i class="icon-docs"></i> Add new gift</strong></h2>
                <h2 ng-show="vm.gift.id" class="title-2 uppercase"><strong> <i class="icon-docs"></i> Update {{vm.gift.name}}</strong></h2>

                <div class="row">
                    <div class="col-sm-12">
                        <form name="giftForm" class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Category</label>

                                    <div class="col-md-8">
                                        <select ng-model="vm.gift.categoryId" name="category-group" id="category-group" class="form-control" placeholder="Please Select">
                                                    <option ng-repeat="category in vm.categories" 
                                                    value="{{category.Id}}">
                                                    {{category.Description}}
                                                    </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Active</label>

                                    <div class="col-md-8">
                                        <label class="radio-inline" for="radios-0">
                                                    <input ng-model="vm.gift.active"
                                                           name="radios" 
                                                           id="radios-0" 
                                                           ng-value="true" 
                                                           type="radio">
                                                    Active </label>
                                        <label class="radio-inline" for="radios-1">
                                                    <input ng-model="vm.gift.active"
                                                           name="radios" 
                                                           id="radios-1" 
                                                           ng-value="false" 
                                                           type="radio">
                                                    Inactive </label>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="Adtitle">Gift name</label>

                                    <div class="col-md-8">
                                        <input ng-model="vm.gift.name" id="Gifttitle" name="Gifttitle" placeholder="Gift title" class="form-control input-md" required=""
                                            type="text">
                                        <span class="help-block">A great title needs at least 10 characters. </span>
                                    </div>
                                </div>

                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="textarea">Describe gift </label>

                                    <div class="col-md-8">
                                        <textarea ng-model="vm.gift.description" class="form-control" id="textarea" name="textarea">Describe
                                                    what makes your gift special</textarea>
                                    </div>
                                </div>


                                <!-- images -->
                                <div ng-show="vm.gift.id" class="form-group">
                                    <label class="col-md-3 control-label" for="textarea"> Image </label>

                                    <div class="col-md-8">
                                        <div class="mb10">
                                            <input type="file" ngf-select ng-model="vm.gift.file1" name="file1" accept="image/*" ngf-max-size="20MB" ngf-model-invalid="vm.gift.errorFile1">
                                            <i ng-show="giftForm.file.$error.maxSize">File too large 
          {{vm.gift.errorFile1.size / 1000000  |number:1}}MB: max 20M</i>
                                            <img ng-show="giftForm.file1.$valid" ngf-thumbnail="vm.gift.file1" class="thumb" style="margin-top:20px;">
                                            <img ng-if="vm.gift.Image1Path && !vm.gift.file1" ng-attr-src="{{'../' + vm.gift.Image1Path }}" alt="img1" class="thumb" style="margin-top:20px;"/>
                                            <button ng-click="vm.gift.file1 = null;" ng-show="vm.gift.file1">Remove</button>
                                            <button ng-click="vm.uploadPic(vm.gift.file1, 1)" ng-show="vm.gift.file1">Upload</button>
                                        </div>
                                        <div class="mb10">
                                            <input type="file" ngf-select ng-model="vm.gift.file2" name="file2" accept="image/*" ngf-max-size="20MB" ngf-model-invalid="vm.gift.errorFile2">
                                            <i ng-show="giftForm.file.$error.maxSize">File too large 
          {{vm.gift.errorFile2.size / 1000000  |number:1}}MB: max 20M</i>
                                            <img ng-show="giftForm.file2.$valid" ngf-thumbnail="vm.gift.file2" class="thumb" style="margin-top:20px;">
                                            <img ng-if="vm.gift.Image2Path && !vm.gift.file2" ng-attr-src="{{'../' + vm.gift.Image2Path }}" alt="img2" class="thumb" style="margin-top:20px;"/>
                                            <button ng-click="vm.gift.file2 = null;" ng-show="vm.gift.file2">Remove</button>
                                            <button ng-click="vm.uploadPic(vm.gift.file2, 2)" ng-show="vm.gift.file2">Upload</button>
                                        </div>
                                       <div class="mb10">
                                            <input type="file" ngf-select ng-model="vm.gift.file3" name="file3" accept="image/*" ngf-max-size="20MB" ngf-model-invalid="vm.gift.errorFile3">
                                            <i ng-show="giftForm.file.$error.maxSize">File too large 
          {{vm.gift.errorFile3.size / 1000000  |number:1}}MB: max 20M</i>
                                            <img ng-show="giftForm.file3.$valid" ngf-thumbnail="vm.gift.file3" class="thumb" style="margin-top:20px;">
                                            <img ng-if="vm.gift.Image3Path && !vm.gift.file3" ng-attr-src="{{'../' + vm.gift.Image3Path }}" alt="img3" class="thumb" style="margin-top:20px;"/>
                                            <button ng-click="vm.gift.file3 = null;" ng-show="vm.gift.file3">Remove</button>
                                            <button ng-click="vm.uploadPic(vm.gift.file3, 3)" ng-show="vm.gift.file3">Upload</button>
                                        </div>
                                        <p class="help-block">Add up to 3 photos. Use a real image of your gift, not catalogs.</p>
                                    </div>
                                </div>

                                <!-- terms -->
                                <div ng-hide="vm.gift.id" class="form-group">
                                    <label class="col-md-3 control-label">Terms</label>

                                    <div class="col-md-8">
                                        <label class="checkbox-inline" for="checkboxes-0">
                                                    <input ng-model="vm.accepted" name="checkboxes" id="checkboxes-0"
                                                           value="Remember above contact information." type="checkbox">
                                                    Accept terms and conditions </label>
                                    </div>
                                </div>

                                <!-- Button  -->
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>

                                    <div ng-show="!vm.gift.id" class="col-md-8"><button ng-click="vm.addGift()" ng-disabled="!vm.accepted" id="button1id" class="btn btn-success btn-lg">Add Gift</button></div>

                                    <div ng-show="vm.gift.id" class="col-md-8"><button ng-click="vm.updateGift()" id="button1id" class="btn btn-success btn-lg">Update Gift</button>
                                        <span ng-show="vm.updated">Gift succesfully updated</span></div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->