<div class="container">
    <div class="row">
        <div class="col-md-10 page-content">
            <div class="inner-box category-content">
                <h2 class="title-2"><i class="icon-user-add"></i> Create your account </h2>

                <div class="row">
                    <div class="col-sm-12">
                        <form ng-submit="vm.signup();" name="signupForm" class="form-horizontal">
                            <fieldset>

                                <!-- Text input-->
                                <div class="form-group required">
                                    <label class="col-md-4 control-label">First Name <sup>*</sup></label>

                                    <div class="col-md-6">
                                        <input ng-model="vm.userSignup.firstName" ng-required="true" name="" placeholder="First Name" class="form-control input-md"
                                            type="text">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group required">
                                    <label class="col-md-4 control-label">Last Name <sup>*</sup></label>

                                    <div class="col-md-6">
                                        <input ng-model="vm.userSignup.lastName" ng-required="true" name="textinput" placeholder="Last Name" class="form-control input-md"
                                            type="text">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group required">
                                    <label class="col-md-4 control-label">Phone Number <sup>*</sup></label>

                                    <div class="col-md-6">
                                        <input ng-model="vm.userSignup.phoneNumber" ng-required="true" name="textinput" placeholder="Phone Number" class="form-control input-md"
                                            type="text">

                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label class="col-md-4 control-label">Address </label>

                                    <div class="col-md-6">
                                        <input ng-model="vm.userSignup.address" ng-required="false" name="textinput" placeholder="Phone Number" class="form-control input-md"
                                            type="text">

                                    </div>
                                </div>
                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="textarea">About Yourself</label>

                                    <div class="col-md-6">
                                        <textarea ng-model="vm.userSignup.about" class="form-control" id="textarea" name="textarea">About
                                                    Yourself</textarea>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label ng-model="vm.userSignup.email" for="inputEmail3" class="col-md-4 control-label">Email
                                                <sup>*</sup></label>

                                    <div class="col-md-6">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label for="inputPassword3" class="col-md-4 control-label">Password </label>

                                    <div class="col-md-6">
                                        <input type="password" ng-model="vm.userSignup.password" class="form-control" id="inputPassword3" placeholder="Password">

                                        <p class="help-block">At least 5 characters
                                            <!--Example block-level help text here.-->
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>

                                    <div class="col-md-8">
                                        <div class="termbox mb10">
                                            <label class="checkbox-inline" for="checkboxes-1">
                                                        <input ng-model="vm.userSignup.accept" name="checkboxes" id="checkboxes-1" value="1"
                                                               type="checkbox">
                                                        I have read and agree to the <a href="terms-conditions.html">Terms
                                                        & Conditions</a> </label>
                                        </div>
                                        <div style="clear:both"></div>
                                        <button ng-disabled="!vm.userSignup.accept" type="submit" class="btn btn-primary btn-block">Sign Up</button>
                                    </div>
                            </fieldset>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.page-content -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->